body {
    background-color: $clr1;
    display: grid;
    grid-template-columns: $layoutPadding 1fr $layoutPadding;


    >* {
        grid-column: 2;
    }

    @include for-narrow-layout {
        grid-template-columns:
            minmax($layoutPadding, 1fr) minmax(auto, $break-narrow) minmax($layoutPadding, 1fr)
    }

    @include for-normal-layout() {
        grid-template-columns:
            minmax($layoutPadding, 1fr) minmax(auto, $break-normal) minmax($layoutPadding, 1fr)
    }

    @include for-wide-layout() {
        grid-template-columns:
            minmax($layoutPadding, 1fr) minmax(auto, $break-wide) minmax($layoutPadding, 1fr)
    }


}

.toys-list {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 20px;
    background-color: $clr2;
    border: solid;
    padding: $layoutPadding;
    margin: 0;
    width: 100%;
}

.toy-details,
.toys-list {
    list-style: none;

}

.home-page {
    font-size: 25px;
    background-color: $clr2;
    border: solid;
    margin: 25px;

    p {
        text-align: center;
    }
}

.only-map {
    border: solid;
}

.dashboard {
    max-width: 500px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

button {
    border-radius: 8px;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
    margin: 5px;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

a {
    color: $clr3;
    text-decoration: inherit;
}

.app-header,
.toy-filter-full-main-layout,
.toy-app-layout>*,
.about-page-panel {
    @include main-center-layout;
}

// .toy-filter-full-main-layout{

// }

.app-header {
    font-size: 30px;
}

.branch-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.link-white {
    color: $clr2;
}

.toy-preview {
    text-align: center;

}

.toy-preview:hover {
    transition: 1s;
    background-color: $clr1;
}

footer {
    margin: 30px;
}

// a:hover {
//     color: $clr3;
// }